

<section class="cl">
  <div class="about-top">
    <img src="/frontend/assets/870859.jpg" alt="">
    <div class="about-text-top">
      <div class="about-bottom-text">
        <hr class="about-bottom-line" />
        <h6>İletişim</h6>
      </div>
    </div>
  </div>
  <div class="about-panel">
    <div class="about-area">
      <div class="house-title-area">
        <hr class="house-underline js-scroll slide-left" />
        <h3 class="text-uppercase js-scroll slide-left">İletişim</h3>
      </div>
      <div class="contact-content">
        <div class="contact-map js-scroll slide-left">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101215.59317289399!2d36.84155170133672!3d37.55536331383132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152dddbc3d7a1a47%3A0x8e9bdcea1291516f!2sKahramanmara%C5%9F!5e0!3m2!1str!2str!4v1680380885604!5m2!1str!2str"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact-info js-scroll slide-right">
            <h3>İletişim Bilgileri</h3>
            <hr class="underline">
            <span> <i class="fa-solid fa-phone"></i>&nbsp; 0 (344) 555 44 33</span>
            <span><i class="fa-solid fa-envelope"></i>&nbsp; demirelitinsaat@gmail.com</span>
            <span><i class="fa-solid fa-location-dot"></i>&nbsp; Onikişubat / Kahramanmaraş</span>
        </div>
    </div>
    </div>
    <div class="about-area">
      <div class="house-title-area">
        <hr class="house-underline js-scroll slide-left" />
        <h3 class="text-uppercase js-scroll slide-left">Bize Ulaş!</h3>
        <h5 class="js-scroll slide-left">
            <b>Demir Elit İnşaat</b> olarak sizleri hayallerinizdeki evlerle
            buluşturmayı <br />
            kendimize görev biliyor ve bu amaç uğrunda var gücümüzle
            çalışmalarımızı sürdüyoruz.
          </h5>
      </div>
      <div class="comment-container js-scroll fade-in-bottom">
        <form action="">
          <div class="small-comment">
            <div class="top-comment">
              <div id="com-pad">
                <label for="Name">İsim</label>
                <input id="sm-input" type="text" name="name" />
              </div>
              <div id="com-pad">
                <label for="Name">Soyisim</label>
                <input id="sm-input" type="text" name="title" />
              </div>
            </div>
            <div class="bottom-comment">
                <div id="com-pad">
                    <label for="Name">Başlık</label>
                    <input id="sm-input" type="text" name="title" />
                  </div>
                <div id="com-pad">
                    <label for="Name">Telefon Numarası</label>
                    <input id="sm-input" type="tel" name="title" />
                  </div>
            </div>
          </div>
          <div class="comment-desc">
            <label for="desc">İçerik</label>
            <textarea
              id="bg-input"
              type="text"
              name="desc"
              rows="5"
            ></textarea>
          </div>
          <div class="comment-btn-place">
            <button type="submit" class="comment-btn">Yorum Yap</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>