<div id="wrapper">
  <div id="slider-wrap">
    <ul id="slider">
      <% for( let index = 0; index < apart.length; index++ ) { %>
        <li>
    
          <img src="https://drive.google.com/uc?export=view&id=<%- apart[index].images[0].id %>" alt="" />
          <div class="header-shad"></div>
          <div class="header-text">
            <h3><%- apart[index].project_name %></h3>
          </div>
        </li>
      <% } %>
      

     
    </ul>

    <div class="btns" id="next"><i class="bx bx-right-arrow-alt"></i></div>
    <div class="btns" id="previous">
      <i class="bx bx-left-arrow-alt"></i>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center">
      <div id="pagination-wrap">
        <ul></ul>
      </div>
    </div>
  </div>
</div>



<section>
  <div class="main-panel">
    <div class="main-title-area">
      <hr class="why-underline" />
      <h2>NEDEN "DEMİR ELİT İNŞAAT"?</h2>

      <h4>
        <b>Demir Elit İnşaat</b> ailesi olarak; güven ve kaliteyi hedefleyen
        projelerimizle, <br />
        siz değerli müşterilerimizin memnuniyetini en değerli hazinemiz
        olarak görmekteyiz.
      </h4>
    </div>

    <div class="why-col">
      <div class="card why-item js-scroll slide-left">
        <div class="why-icon">
          <i class="fa-solid fa-face-smile"></i>
        </div>
        <div class="why-text">
          <h5>Memnuniyet</h5>

          <h6>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s,
          </h6>
        </div>
      </div>
      <div class="card why-item js-scroll slide-right">
        <div class="why-icon">
          <i class="fa-solid fa-helmet-safety"></i>
        </div>
        <div class="why-text">
          <h5>Uzman Kadro</h5>

          <h6>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s,
          </h6>
        </div>
      </div>
      <div class="card why-item js-scroll slide-left">
        <div class="why-icon">
          <i class="fa-solid fa-handshake"></i>
        </div>
        <div class="why-text">
          <h5>Güven</h5>

          <h6>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s,
          </h6>
        </div>
      </div>
      <div class="card why-item js-scroll slide-right">
        <div class="why-icon">
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="why-text">
          <h5>Takım Çalışması</h5>

          <h6>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s,
          </h6>
        </div>
      </div>
      <div class="card why-item js-scroll slide-left">
        <div class="why-icon">
          <i class="fa-solid fa-building-circle-check"></i>
        </div>
        <div class="why-text">
          <h5>Kalite</h5>

          <h6>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s,
          </h6>
        </div>
      </div>
      <div class="card why-item js-scroll slide-right">
        <div class="why-icon">
          <i class="fa-solid fa-stopwatch"></i>
        </div>
        <div class="why-text">
          <h5>Anında Teslim</h5>

          <h6>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s,
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="statistics">
  <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-1">
    <div class="statistics-icon mb-3">
      <i class="fa-solid fa-calendar-days"></i>
    </div>
    <div class="statistics-text">
      <h5 class="count" data-val="14">00</h5>
      <br />
      <h6>Yıllık Tecrübe</h6>
    </div>
  </div>

  <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-2">
    <div class="statistics-icon mb-3">
      <i class="fa-solid fa-building-circle-check"></i>
    </div>
    <div class="statistics-text">
      <h5 class="count" data-val="250">000</h5>
      <br />
      <h6>Tamamlanan Projeler</h6>
    </div>
  </div>


  <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-3">
    <div class="statistics-icon mb-3">
      <i class="fa-solid fa-building-circle-arrow-right"></i>
    </div>
    <div class="statistics-text">
      <h5 class="count" data-val="480">000</h5>
      <br />
      <h6>Devam Eden Projeler</h6>
    </div>
  </div>

  <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-4">
    <div class="statistics-icon mb-3">
      <i class="fa-regular fa-face-laugh-beam"></i>
    </div>
    <div class="statistics-text">
      <h5 class="count" data-val="950">000</h5>
      <br />
      <h6>Mutlu Müşteri</h6>
    </div>
  </div>
</section>

<section id="house">
  <div class="house-title-area">
    <hr class="house-underline" />
    <h3 class="text-uppercase">PROJELER</h3>
    <h5>
      <b>Demir Elit İnşaat</b> olarak sizleri hayallerinizdeki evlerle
      buluşturmayı <br />
      kendimize görev biliyor ve bu amaç uğrunda var gücümüzle
      çalışmalarımızı sürdüyoruz.
    </h5>
  </div>

  <div class="house-col ">
    <div class="house-item js-scroll slide-left">
      <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
      <div class="house-text">
        <h2>BERİL SİTESİ</h2>
      </div>
      <div class="house-overlay">
        <div class="house-text-hover">
          <a href="/dairedetay" class="btn-incele">İncele</a>
          <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
        </div>
      </div>
    </div>

  
    <div class="house-item js-scroll slide-right">
      <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
      <div class="house-text">
        <h2>BERİL SİTESİ</h2>
      </div>
      <div class="house-overlay">
        <div class="house-text-hover">
          <a href="/dairedetay" class="btn-incele">İncele</a>
          <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
        </div>
      </div>
    </div>


    <div class="house-item js-scroll slide-left">
      <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
      <div class="house-text">
        <h2>BERİL SİTESİ</h2>
      </div>
      <div class="house-overlay">
        <div class="house-text-hover">
          <a href="/dairedetay" class="btn-incele">İncele</a>
          <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
        </div>
      </div>
    </div>
 

    <div class="house-item js-scroll slide-right">
      <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
      <div class="house-text">
        <h2>BERİL SİTESİ</h2>
      </div>
      <div class="house-overlay">
        <div class="house-text-hover">
          <a href="/dairedetay" class="btn-incele">İncele</a>
          <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
        </div>
      </div>
    </div>


    <div class="house-item  js-scroll slide-left">
      <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
      <div class="house-text">
        <h2>BERİL SİTESİ</h2>
      </div>
      <div class="house-overlay">
        <div class="house-text-hover">
          <a href="/dairedetay" class="btn-incele">İncele</a>
          <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
        </div>
      </div>
    </div>


    <div class="house-item js-scroll slide-right">
      <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
      <div class="house-text">
        <h2>BERİL SİTESİ</h2>
      </div>
      <div class="house-overlay">
        <div class="house-text-hover">
          <a href="/dairedetay" class="btn-incele">İncele</a>
          <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
        </div>
      </div>
    </div>


  <div class="house-btn-project js-scroll fade-in-bottom">
    <a href="/daireler" class="btn-project">
      Tüm Projeler&nbsp;
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
</div>
</section>

<div class="part-line">
  <hr class="part-underline" />
  <div class="part-img">
    <img src="/frontend/assets/Just_Logo.png" alt="" />
  </div>
  <hr class="part-underline" />
</div>

<section id="cardboard">
  <div class="cardboard-title-area">
    <hr class="cardboard-underline" />
    <h2 class="text-uppercase">HABERLER</h2>

    <h4>
      <b>Demir Elit İnşaat</b> olarak sizleri hayallerinizdeki evlerle
      buluşturmayı <br />
      kendimize görev biliyor ve bu amaç uğrunda var gücümüzle
      çalışmalarımızı sürdüyoruz.
    </h4>
  </div>

  <div class="cardboard-col">
    <div class="customer-logos slider js-scroll fade-in-bottom">
      <div class="slide">
        <div class="colu">
          <div class="cardboard-item">
            <!-- <iframe
              width="1046"
              height="445"
              loading="lazy"
              src="https://www.youtube.com/embed/y9j-BL5ocW8"
              title="Cinematic Real estate video tour example 4K | Laowa 12mm &amp; Sony A7III"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe> -->
            <div class="cardboard-text">
              <h5>Video Haber Adı</h5>
              <a href="/haberdetay">İzle</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="colu">
          <div class="cardboard-item">
            <!-- <iframe
              width="880"
              height="495"
              loading="lazy"
              src="https://www.youtube.com/embed/7EHnQ0VM4KY"
              title="Cinematic Real estate video tour example 4K | Laowa 12mm &amp; Sony A7III"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe> -->
            <div class="cardboard-text">
              <h5>Video Haber Adı</h5>
              <a href="/haberdetay">İzle</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="colu">
          <div class="cardboard-item">
            <img src="/frontend/assets/indir (1).jpeg" alt="" />
            <div class="cardboard-text">
              <h5>Haber Adı</h5>
              <a href="/haberdetay">Görüntüle</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="colu">
          <div class="cardboard-item">
            <!-- <iframe
              width="880"
              height="495"
              loading="lazy"
              src="https://www.youtube.com/embed/59CJ3g1n_6Y"
              title="BSR Building 2 - Video Presentation"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe> -->
            <div class="cardboard-text">
              <h5>Video Haber Adı</h5>
              <a href="/haberdetay">İzle</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="colu">
          <div class="cardboard-item">
            <img src="/frontend/assets/evrim.jpg" alt="" />
            <div class="cardboard-text">
              <h5>Haber Adı</h5>
              <a href="/haberdetay">Görüntüle</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="colu">
          <div class="cardboard-item">
            <img src="/frontend/assets/indir (1).jpeg" alt="" />
            <div class="cardboard-text">
              <h5>Haber Adı</h5>
              <a href="/haberdetay">Görüntüle</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="colu">
          <div class="cardboard-item">
            <!-- <iframe
            width="880"
            height="495"
            loading="lazy"
            src="https://www.youtube.com/embed/59CJ3g1n_6Y"
            title="BSR Building 2 - Video Presentation"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe> -->
          <div class="cardboard-text">
            <h5>Video Haber Adı</h5>
            <a href="/haberdetay">İzle</a>
          </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="colu">
          <div class="cardboard-item">
            <iframe
              width="1046"
              height="445"
              loading="lazy"
              src="https://www.youtube.com/embed/y9j-BL5ocW8"
              title="Cinematic Real estate video tour example 4K | Laowa 12mm &amp; Sony A7III"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
            <div class="cardboard-text">
              <h5>Video Haber Adı</h5>
              <a href="/haberdetay">İzle</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="colu">
          <div class="cardboard-item">
            <img src="/frontend/assets/evrim.jpg" alt="" />
            <div class="cardboard-text">
              <h5>Haber Adı</h5>
              <a href="/haberdetay">Görüntüle</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="house-btn-project js-scroll fade-in-bottom">
    <a href="/haberler" class="btn-project">
      Tüm Haberler
      
    </a>
  </div>
</section>