<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- or -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />

    <title>Demir Elit İnşaat | Kahramanmaraş</title>
    <link
      rel="shortcut icon"
      href="/frontend/assets/Sekme_Icon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/frontend/css/style.css" />
  </head>
  <body>
    <div class="loader">
      <div class="box">
        <div class="loader-img">
          <img src="https://i.hizliresim.com/cjzidcu.png" alt="" />
        </div>
        <div class="b b1"></div>
        <div class="b b2"></div>
        <div class="b b3"></div>
      </div>
    </div>

    <nav class="navv">
      <a href="#" class="nav-logo">
        <div class="nav-logo-img">
          <img src="/frontend/assets/DEI_logo_dk.png" alt="" />
        </div>
        <i class="fa-solid fa-bars"></i>
      </a>

      <div class="nav-menu">
        <ul class="nav-menu-ul">
          <li class="nav-link  ">
            <a class="nav-link-a nav-active-link hover-underline-animation" href="">ANA SAYFA</a>
          </li>
          <li class="nav-link ">
            <a class="nav-link-a hover-underline-animation" >KURUMSAL <i class='bx bx-chevron-down'></i></a>
            <div class="nav-link-alt">
              <ul class="nav-link-alt-ul">
                <li><span class="nav-link-alt-ul-span"></span><a href="">Hakkımızda</a></li>
                <li><span class="nav-link-alt-ul-span"></span><a href="">Ekibimiz</a></li>
                <li><span class="nav-link-alt-ul-span"></span><a href="">Vizyon & Misyon</a></li>
                <li><span class="nav-link-alt-ul-span"></span><a href="">Değerlerimiz</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-link ">
            <a class="nav-link-a hover-underline-animation" >PROJELER <i class='bx bx-chevron-down'></i></a>
            <div class="nav-link-alt">
              <ul class="nav-link-alt-ul">
                <li><span class="nav-link-alt-ul-span"></span><a href="">Tüm Projeler</a></li>
                <li><span class="nav-link-alt-ul-span"></span><a href="">Güncel Projeler</a></li>
                <li><span class="nav-link-alt-ul-span"></span><a href="">Tamamlanan Projeler</a></li>
                <li><span class="nav-link-alt-ul-span"></span><a href="">Gelecek Projeler</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-link ">
            <a class="nav-link-a hover-underline-animation" href="">HABERLER</a>
          </li>
          <li class="nav-link ">
            <a class="nav-link-a hover-underline-animation" href="">İLETİŞİM</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="wrapper">
      <div id="slider-wrap">
        <ul id="slider">
          <li>
            <!-- <div class="header-title">
                <h1>YILDIZ SİTESİ</h1>
            </div> -->
            <img src="/frontend/assets/indir.jpeg" alt="" />
            <div class="header-shad"></div>
            <div class="header-text">
              <h3>Yıldız Sitesi</h3>
            </div>
          </li>

          <li>
            <img src="/frontend/assets/proje.jpg" alt="" />
            <div class="header-shad"></div>
            <div class="header-text">
              <h3>Yıldız Sitesi</h3>
            </div>
          </li>

          <li>
            <img src="/frontend/assets/indir2.jpg" alt="" />
            <div class="header-shad"></div>
            <div class="header-text">
              <h3>Yıldız Sitesi</h3>
            </div>
          </li>

          <li>
            <img src="/frontend/assets/bahce.jpg" alt="" />
            <div class="header-shad"></div>
            <div class="header-text">
              <h3>Yıldız Sitesi</h3>
            </div>
          </li>

          <li>
            <img src="/frontend/assets/bina.jpg" alt="" />
            <div class="header-shad"></div>
            <div class="header-text">
              <h3>Yıldız Sitesi</h3>
            </div>
          </li>
        </ul>

        <div class="btns" id="next"><i class="bx bx-right-arrow-alt"></i></div>
        <div class="btns" id="previous">
          <i class="bx bx-left-arrow-alt"></i>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center">
          <div id="pagination-wrap">
            <ul></ul>
          </div>
        </div>
      </div>
    </div>

    <section id="brand">
      <div class="left-br">
        <div class="left-br-text js-scroll slide-left">
          <h4>Hayalinizdeki Ev Sizden Bir Adım Uzakta</h4>

          <b id="brand-title">Demir Elit İnşaat </b>
        </div>
      </div>

      <div class="rightthumb">
        <h3 class="js-scroll slide-right">Size yepyeni bir dünya sunuyoruz</h3>
        <hr class="brand-underline js-scroll slide-right" />
      </div>
    </section>

    <section>
      <div class="main-panel">
        <h2 class="text-uppercase">NEDEN "DEMİR ELİT İNŞAAT"?</h2>
        <hr class="why-underline" />
        <h4>
          <b>Demir Elit İnşaat</b> ailesi olarak; güven ve kaliteyi hedefleyen
          projelerimizle, <br> siz değerli müşterilerimizin memnuniyetini en değerli
          hazinemiz olarak görmekteyiz.
        </h4>

        <div class="why-col">
          <div class="why-item js-scroll slide-left">
            <div class="why-icon">
              <i class="fa-solid fa-face-smile"></i>
            </div>
            <div class="why-text">
              <h5>Memnuniyet</h5>

              <h6>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s,
              </h6>
            </div>
          </div>
          <div class="why-item js-scroll slide-right">
            <div class="why-icon">
              <i class="fa-solid fa-helmet-safety"></i>
            </div>
            <div class="why-text">
              <h5>Uzman Kadro</h5>

              <h6>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s,
              </h6>
            </div>
          </div>
          <div class="why-item js-scroll slide-left">
            <div class="why-icon">
              <i class="fa-solid fa-handshake"></i>
            </div>
            <div class="why-text">
              <h5>Güven</h5>

              <h6>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s,
              </h6>
            </div>
          </div>
          <div class="why-item js-scroll slide-right">
            <div class="why-icon">
              <i class="fa-solid fa-users"></i>
            </div>
            <div class="why-text">
              <h5>Takım Çalışması</h5>

              <h6>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s,
              </h6>
            </div>
          </div>
          <div class="why-item js-scroll slide-left">
            <div class="why-icon">
              <i class="fa-solid fa-building-circle-check"></i>
            </div>
            <div class="why-text">
              <h5>Kalite</h5>

              <h6>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s,
              </h6>
            </div>
          </div>
          <div class="why-item js-scroll slide-right">
            <div class="why-icon">
              <i class="fa-solid fa-stopwatch"></i>
            </div>
            <div class="why-text">
              <h5>Anında Teslim</h5>

              <h6>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s,
              </h6>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="statistics">
      <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-1">
        <div class="statistics-icon mb-3">
          <i class="fa-solid fa-calendar-days"></i>
        </div>
        <div class="statistics-text">
          <h5 class="count" data-val="14">00</h5>
          <br />
          <h6>Yıllık Tecrübe</h6>
        </div>
      </div>
      <hr class="statistics-underline js-scroll fade-in-bottom" />

      <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-2">
        <div class="statistics-icon mb-3">
          <i class="fa-solid fa-building-circle-check"></i>
        </div>
        <div class="statistics-text">
          <h5 class="count" data-val="250">000</h5>
          <br />
          <h6>Tamamlanan Projeler</h6>
        </div>
      </div>
      <hr class="statistics-underline js-scroll fade-in-bottom" />

      <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-3">
        <div class="statistics-icon mb-3">
          <i class="fa-solid fa-building-circle-arrow-right"></i>
        </div>
        <div class="statistics-text">
          <h5 class="count" data-val="480">000</h5>
          <br />
          <h6>Devam Eden Projeler</h6>
        </div>
      </div>
      <hr class="statistics-underline js-scroll fade-in-bottom" />

      <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-4">
        <div class="statistics-icon mb-3">
          <i class="fa-regular fa-face-laugh-beam"></i>
        </div>
        <div class="statistics-text">
          <h5 class="count" data-val="950">000</h5>
          <br />
          <h6>Mutlu Müşteri</h6>
        </div>
      </div>
    </section>

    <section id="house" class="text-center">
      <h3 class="text-uppercase">PROJELER</h3>
      <hr class="house-underline" />
      <h5>
        <b>Demir Elit İnşaat</b> olarak sizleri hayallerinizdeki evlerle
        buluşturmayı <br />
        kendimize görev biliyor ve bu amaç uğrunda var gücümüzle çalışmalarımızı
        sürdüyoruz.
      </h5>
      <div class="house-box">
        <div class="house-contain">
          <div class="house-col js-scroll slide-left">
            <div class="house-item">
              <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
              <div class="house-text">
                <h2>BERİL SİTESİ</h2>
              </div>
              <div class="house-overlay">
                <div class="house-text-hover">
                  <a href="#" class="btn-incele">İncele</a>
                  <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="house-col js-scroll slide-right">
            <div class="house-item">
              <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
              <div class="house-text">
                <h2>BERİL SİTESİ</h2>
              </div>
              <div class="house-overlay">
                <div class="house-text-hover">
                  <a href="#" class="btn-incele">İncele</a>
                  <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="house-col js-scroll slide-left">
            <div class="house-item">
              <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
              <div class="house-text">
                <h2>BERİL SİTESİ</h2>
              </div>
              <div class="house-overlay">
                <div class="house-text-hover">
                  <a href="#" class="btn-incele">İncele</a>
                  <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="house-col js-scroll slide-right">
            <div class="house-item">
              <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
              <div class="house-text">
                <h2>BERİL SİTESİ</h2>
              </div>
              <div class="house-overlay">
                <div class="house-text-hover">
                  <a href="#" class="btn-incele">İncele</a>
                  <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="house-col js-scroll slide-left">
            <div class="house-item">
              <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
              <div class="house-text">
                <h2>BERİL SİTESİ</h2>
              </div>
              <div class="house-overlay">
                <div class="house-text-hover">
                  <a href="#" class="btn-incele">İncele</a>
                  <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="house-col js-scroll slide-right">
            <div class="house-item">
              <img class="img-fluid-p" src="/frontend/assets/ber.jpeg" alt="" />
              <div class="house-text">
                <h2>BERİL SİTESİ</h2>
              </div>
              <div class="house-overlay">
                <div class="house-text-hover">
                  <a href="#" class="btn-incele">İncele</a>
                  <h4>Necip Fazıl Mah. 50008. Sok. No:21/14</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="house-btn-project js-scroll fade-in-bottom">
          <a href="#" class="btn-project">
            Tüm Projeler&nbsp;
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- <div id="cardboard-wrapper">
      <div id="cardboard-slider-wrap">
        <ul id="slider">
          <li>
            <div class="colu">
              <div class="cardboard-item"></div>
            </div>
            <div class="colu">
              <div class="cardboard-item"></div>
            </div>
            <div class="colu">
              <div class="cardboard-item"></div>
            </div>
          </li>
          
          <li>
            <div class="colu">
              <div class="cardboard-item"></div>
            </div>
            <div class="colu">
              <div class="cardboard-item"></div>
            </div>
            <div class="colu">
              <div class="cardboard-item"></div>
            </div>
          </li>
          
          <li>
            <div class="colu">
              <div class="cardboard-item"></div>
            </div>
            <div class="colu">
              <div class="cardboard-item"></div>
            </div>
            <div class="colu">
              <div class="cardboard-item"></div>
            </div>
          </li>
          
      
        </ul>

        <div class="btns" id="carboard-next"><i class="bx bx-right-arrow-alt"></i></div>
        <div class="btns" id="carboard-previous">
          <i class="bx bx-left-arrow-alt"></i>
        </div>

      </div>
    </div> -->

    <!-- <section id="cardboard">
      <h2 class="text-uppercase">HABERLER</h2>
      <hr class="underline" />
      <h4>
        <b>Demir Elit İnşaat</b> olarak sizleri hayallerinizdeki evlerle
        buluşturmayı <br />
        kendimize görev biliyor ve bu amaç uğrunda var gücümüzle çalışmalarımızı
        sürdüyoruz.
      </h4>
 
        <div class="house-btn-project">
          <a href="#" class="btn-project ">
            Tüm Haberler&nbsp;
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </section> -->

    <section id="cardboard">
      <h2 class="text-uppercase">HABERLER</h2>
      <hr class="cardboard-underline" />
      <h4>
        <b>Demir Elit İnşaat</b> olarak sizleri hayallerinizdeki evlerle
        buluşturmayı <br />
        kendimize görev biliyor ve bu amaç uğrunda var gücümüzle çalışmalarımızı
        sürdüyoruz.
      </h4>
      <div class="cardboard-col">
        <div class="customer-logos slider js-scroll fade-in-bottom">
          <div class="slide">
            <div class="colu">
              <div class="cardboard-item">
                <!-- <iframe
                  width="1046"
                  height="445"
                  loading="lazy"
                  src="https://www.youtube.com/embed/y9j-BL5ocW8"
                  title="Cinematic Real estate video tour example 4K | Laowa 12mm &amp; Sony A7III"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe> -->
                <div class="cardboard-text">
                  <h5>Videolu Haber Linki</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="colu">
              <div class="cardboard-item">
                <!-- <iframe
                  width="880"
                  height="495"
                  loading="lazy"
                  src="https://www.youtube.com/embed/7EHnQ0VM4KY"
                  title="Cinematic Real estate video tour example 4K | Laowa 12mm &amp; Sony A7III"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe> -->
                <div class="cardboard-text">
                  <h5>Videolu Haber Linki</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="colu">
              <div class="cardboard-item">
                <img src="/frontend/assets/indir (1).jpeg" alt="" />
                <div class="cardboard-text">
                  <h5>Haber Adı</h5>
                  <a href="#">Görüntüle</a>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="colu">
              <div class="cardboard-item">
                <!-- <iframe
                  width="880"
                  height="495"
                  loading="lazy"
                  src="https://www.youtube.com/embed/59CJ3g1n_6Y"
                  title="BSR Building 2 - Video Presentation"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe> -->
                <div class="cardboard-text">
                  <h5>Videolu Haber Linki</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="colu">
              <div class="cardboard-item">
                <img src="/frontend/assets/evrim.jpg" alt="" />
                <div class="cardboard-text">
                  <h5>Haber Adı</h5>
                  <a href="#">Görüntüle</a>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="colu">
              <div class="cardboard-item">
                <img src="/frontend/assets/indir (1).jpeg" alt="" />
                <div class="cardboard-text">
                  <h5>Haber Adı</h5>
                  <a href="#">Görüntüle</a>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="colu">
              <div class="cardboard-item">
                <!-- <iframe
                width="880"
                height="495"
                loading="lazy"
                src="https://www.youtube.com/embed/59CJ3g1n_6Y"
                title="BSR Building 2 - Video Presentation"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe> -->
                <div class="cardboard-text">
                  <h5>Videolu Haber Linki</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="colu">
              <div class="cardboard-item">
                <!-- <iframe
                  width="1046"
                  height="445"
                  loading="lazy"
                  src="https://www.youtube.com/embed/y9j-BL5ocW8"
                  title="Cinematic Real estate video tour example 4K | Laowa 12mm &amp; Sony A7III"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe> -->
                <div class="cardboard-text">
                  <h5>Videolu Haber Linki</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="colu">
              <div class="cardboard-item">
                <img src="/frontend/assets/evrim.jpg" alt="" />
                <div class="cardboard-text">
                  <h5>Haber Adı</h5>
                  <a href="#">Görüntüle</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="house-btn-project js-scroll fade-in-bottom">
        <a href="#" class="btn-project">
          Tüm Haberler&nbsp;
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </section>

    <footer>
      <div class="container clearfix">
        <div class="colum">
          <a href="#" class="footer-logo">
            <div class="footer-logo-img">
              <img src="/frontend/assets/DEI_logo_dk.png" alt="" />
            </div>
          </a>
          <hr class="footer-logo-underline" />
          <ul>
            <li>
              <a href="#" class="btn-social">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="btn-social">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>

            <li>
              <a href="#" class="btn-social">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" class="btn-social">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="colum">
          <div class="footer-contact">
            <h4 class="text-uppercase">İLETİŞİM</h4>
            <div class="footer-contact-info">
              <p>
                <i class="fa-solid fa-phone"></i>&nbsp; Telefon-1: (0344) 555 44
                33
              </p>
              <p>
                <i class="fa-solid fa-phone"></i>&nbsp; Telefon-2: (0532) 242 58
                77
              </p>
              <p>
                <i class="fa-solid fa-envelope"></i>&nbsp; Gmail:
                demirelitinsaat@gmail.com
              </p>
            </div>

            <hr class="footer-underline" />
            <h4 class="text-uppercase">KONUM</h4>
            <div class="footer-contact-adress">
              <h6>
                Yirmiikigün Mah. Prof. Dr. Necmettin Erbakan Bulvarı Berra Apt.
                No:29/1/B, 46050 Onikişubat/Kahramanmaraş
              </h6>
            </div>
          </div>
        </div>
        <div class="colum">
          <h5 class="text-uppercase">SİTE HARİTASI</h5>
          <div class="footer-way">
            <a href="#">Ana Sayfa</a>
            <a href="#">Kurumsal</a>
            <a href="#">Projeler</a>
            <a href="#">Haberler</a>
            <a href="#">İletişim</a>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer-bottom">
      <h5>Copyright © DEMİR ELİT İNŞAAT 2023 | Tüm Hakları Saklıdır.</h5>
      <a href="#" class="footer-made">Designed by -ASB-</a>
    </div>

    <script
      src="https://code.jquery.com/jquery-2.2.0.min.js"
      type="text/javascript"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="/frontend/js/web.js"></script>
  </body>
</html>
