<div class="margin"></div>
<section>
  <div class="cat-panel">
    <div class="cat-title-area">
      <h2>Haberler</h2>

      <div class="part-line">
        <hr class="part-underline" id="cat-part-underline"/>
        <div class="part-img" id="cat-part">
          <img src="/frontend/assets/Just_Logo.png" alt="" />
        </div>
        <hr class="part-underline" id="cat-part-underline" />
      </div>
    </div>

    <div class="news-contain">
      <% for( let index = 0; index < news.length; index++ ) { %>
        <div class="news-item ">
          <% if (news[index].images[0] != undefined && news[index].news_url == "") { %>
            <img class="card-img-top" src="https://drive.google.com/uc?export=view&id=<%- news[index].images[0].id %>" alt="Card image cap">
        <% } else { %> 
          <%- news[index].news_url %>
          
          <% } %>
          <div class="news-text">
            <h5><%- news[index].news_name %></h5>
            <a href="/haber-detay/<%- news[index].id %>">İzle</a>
          </div>
        </div>
      <% } %>
    
    </div>
  </div>
</section>