<div class="about-top">
  <img
    src="/frontend/assets/wp3396929-newspaper-wallpaperbackground.jpg"
    alt=""
  />

  <div class="about-text-top">
    <div class="about-bottom-text">
      <hr class="about-bottom-line" />
      <h6>Haberler</h6>
    </div>
  </div>
</div>
<section>
  <div class="about-panel">
    <div class="about-area">
      <div class="house-title-area">
        <hr class="house-underline js-scroll slide-left" />
        <h3 class="text-uppercase js-scroll slide-left">
          <%- news.news_name %>
        </h3>
      </div>
      <div class="news-det-area">
        <div class="news-det js-scroll fade-in-bottom">
          <% if (news.images[0] != undefined && news.news_url =="") { %>
          <img
            class="card-img-top"
            src="https://drive.google.com/uc?export=view&id=<%- news.images[0].id %>"
            alt="Card image cap"
          />
          <% } else { %> <%- news.news_url %> <% } %>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="about-area">
      <div class="about-text js-scroll slide-left">
        <h5><%- news.news_desc %></h5>
      </div>
    </div>
  </div>
</section>
