
<section class="cl">
      
  <div class="about-top">
    <div class="about-text-top">
      <div class="about-bottom-text">
        
        <hr class="about-bottom-line" />
        <h6>Haberler</h6>
       
      </div>
    </div>
  </div>
  <div class="about-panel">
    <div class="about-area">
      <div class="house-title-area">
        <hr class="house-underline js-scroll slide-left" />
        <h3 class="text-uppercase js-scroll slide-left">Haber Adı</h3>
      </div>
      <div class="news-det-area">
        <div class="news-det js-scroll fade-in-bottom">
            <img src="/frontend/assets/evrim.jpg" alt="" />

            <!-- <iframe
            width="1046"
            height="445"
            loading="lazy"
            src="https://www.youtube.com/embed/y9j-BL5ocW8"
            title="Cinematic Real estate video tour example 4K | Laowa 12mm &amp; Sony A7III"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe> -->

        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="about-area">
    
      <div class="about-text js-scroll slide-left">
       
        <h5>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
          ad fugit nam dignissimos nemo assumenda aspernatur vero labore quo
          totam voluptates, hic tempore alias illo asperiores, veritatis
          quidem repudiandae dolor! Fuga dignissimos veniam eius nemo earum,
          dolor debitis! Adipisci cupiditate at unde vero tempora aspernatur
          non ad, illo impedit quam magnam, nam deserunt blanditiis iure
          quasi id libero voluptas repellat. Aperiam deserunt labore impedit
          dicta odit ratione placeat illo quaerat fugiat voluptatum
          distinctio ab cupiditate quas perferendis consectetur quae hic
          laudantium ullam veniam nostrum soluta, blanditiis eaque
          molestiae. Hic, nisi!
       
        </h5>
      </div>
    </div>
  </div>
</section>