<div class="about-top">
  <img src="/frontend/assets/1132471.jpg" alt="">
  <div class="about-text-top">
    <div class="about-bottom-text">
      <div class="about-bottom-alt">
        <h4>KURUMSAL</h4>
      </div>
      <hr class="about-bottom-line" />
      <h6>Ekibimiz</h6>
    </div>
  </div>
</div>
<section >
  
  <div class="about-panel">
    <div class="about-area">
      <div class="house-title-area">
        <hr class="house-underline js-scroll slide-left" />
        <h3 class="text-uppercase js-scroll slide-left">Ekibimiz</h3>
      </div>
      <div class="ek-area">
        <div class="ek-col-pres">
          <div class="ek-pres js-scroll fade-in-bottom">
            <div class="ek-pres-img">
              <img src="/frontend/assets/baskan.jpg" alt="" />
            </div>
            <div class="ek-pres-text">
              <h1>Harun DEMIR</h1>
              <h4>Yönetim Kurulu Başkanı</h4>
            </div>
          </div>
        </div>
        <div class="ek-col">
          <div class="ek-pres js-scroll fade-in-bottom">
            <div class="ek-img">
              <img src="/frontend/assets/baskan.jpg" alt="" />
            </div>
            <div class="ek-pres-text">
              <h1>Harun DEMIR</h1>
              <h4>Yönetim Kurulu Başkanı</h4>
            </div>
          </div>
          <div class="ek-pres js-scroll fade-in-bottom">
            <div class="ek-img">
              <img src="/frontend/assets/baskan.jpg" alt="" />
            </div>
            <div class="ek-pres-text">
              <h1>Harun DEMIR</h1>
              <h4>Yönetim Kurulu Başkanı</h4>
            </div>
          </div>
          <div class="ek-pres js-scroll fade-in-bottom">
            <div class="ek-img">
              <img src="/frontend/assets/baskan.jpg" alt="" />
            </div>
            <div class="ek-pres-text">
              <h1>Harun DEMIR</h1>
              <h4>Yönetim Kurulu Başkanı</h4>
            </div>
          </div>
          <div class="ek-pres js-scroll fade-in-bottom">
            <div class="ek-img">
              <img src="/frontend/assets/baskan.jpg" alt="" />
            </div>
            <div class="ek-pres-text">
              <h1>Harun DEMIR</h1>
              <h4>Yönetim Kurulu Başkanı</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
   
    <div class="about-area js-scroll slide-left">
      <div class="about-text">
        <h5>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
          ad fugit nam dignissimos nemo assumenda aspernatur vero labore quo
          totam voluptates, hic tempore alias illo asperiores, veritatis
          quidem repudiandae dolor! Fuga dignissimos veniam eius nemo earum,
          dolor debitis! Adipisci cupiditate at unde vero tempora aspernatur
          non ad, illo impedit quam magnam, nam deserunt blanditiis iure
          quasi id libero voluptas repellat. Aperiam deserunt labore impedit
          dicta odit ratione placeat illo quaerat fugiat voluptatum
          distinctio ab cupiditate quas perferendis consectetur quae hic
          laudantium ullam veniam nostrum soluta, blanditiis eaque
          molestiae. Hic, nisi!
       
        </h5>
      </div>
    </div>
  </div>
</section>