<div class="about-top">
  <img src="/frontend/assets/1132471.jpg" alt="">
  <div class="about-text-top">
    <div class="ker-bottom-text">
      <div class="about-bottom-alt">
        <h4>KURUMSAL</h4>
      </div>
      <hr class="about-bottom-line" />
      <h6>Vizyon & Misyon</h6>
     
    </div>
  </div>
</div>
<section >
      
 
  <div class="about-panel">
    <div class="about-area">
      <div class="house-title-area">
        <hr class="house-underline js-scroll slide-left" />
        <h3 class="text-uppercase js-scroll slide-left">Vizyon</h3>
      </div>
      <div class="about-text js-scroll slide-left">
        <h5>
          <%- vismis.vision %>
        </h5>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="about-area">
      <div class="house-title-area">
        <hr class="house-underline js-scroll slide-left" />
        <h3 class="text-uppercase js-scroll slide-left">Misyon</h3>
      </div>
      <div class="about-text js-scroll slide-left">
       
        <h5>
          <%- vismis.mision %>
        </h5>
      </div>
    </div>
  </div>
</section>