<div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-1">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <h4 class="text-white text-capitalize ps-4">HAKKIMIZDA</h4>
          </div>
          <div class="card-body">
            <h6 class="text-secondary">
              Bu panel üzerinden hakkımızda sayfasını güncelleyebilirsiniz.
            </h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <form action="/yonetim/hakkimizda" method="post">
            <div class="card-body">
              <div class="row my-2">
                <div class="card-header">
                  <h6>Hakkımızda</h6>
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group input-group-static mb-4 px-5">
                    <label>Hakkımızda Metni</label>
                    <input
                      value="<%- about.about_text%>"
                      type="text"
                      class="form-control"
                      name="about_text"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row my-2">
                <div class="card-header"><h6>Başkanımızdan Mesaj</h6></div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group input-group-static mb-4 px-5">
                    <label>Başkanımızdan Mesaj Metni</label>
                    <input
                      value="<%- about.about_pres%>"
                      type="text"
                      class="form-control"
                      name="about_pres"
                    />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card-body px-6">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button
                  onclick="btn(this)"
                  type="submit"
                  class="btn bg-gradient-success shadow-success"
                  id="load2"
                  data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Order"
                >
                  Güncelle
                </button>
              </div>
              <script src="/admin/js/btn.js"></script>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  